<p>
  home works!
  <button md-button (click)="toggleVisible()">toggle</button>
</p>

<div *ngIf="isVisible">
  <p>
    home works!
    <button md-button>Test2</button>
  </p>

  <p>
    home works!
    <button md-button>Test2</button>
  </p>

  <p>
    home works!
    <button md-button>Test2</button>
  </p>

  <p>
    home works!
    <button md-button>Test2</button>
  </p>

  <p>
    home works!
    <button md-button>Test2</button>
  </p>

  <p>
    home works!
    <button md-button>Test2</button>
  </p>

  <p>
    home works!
    <button md-button>Test2</button>
  </p>

  <p>
    home works!
    <button md-button>Test2</button>
  </p>
</div>
